.board {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: brown;
}
.block {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 900;
  font-size: 22px;
  background-color: #999;
  transition-duration: 0.4s;
}

.block:hover {
  background-color: #eee;
  cursor: pointer;
}
